.recommend {
  font-size: 1.3rem;
  color: var(--color--grey-dark-3);
  display: flex;
  align-items: center;

  @include respond(bp-small) {
    flex-direction: column-reverse;
    align-content: center;
    justify-items: center;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border: 3px solid #fff;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }

  &__count {
    margin-right: auto;

    @include respond(bp-small) {
      margin-right: 0;
    }
  }

}