.user-review {

  flex: 1;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__review {
    background-color: #fff;
    box-shadow: var(--shadow-detail);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;

    @include respond(bp-medium) {
      padding: 2rem;
      margin-bottom: 3rem;
    }

    @include respond(bp-smallest) {
      margin-bottom: 2rem;
    }

    &::before {
      content: "\201C";
      position: absolute;
      top: -2.75rem;
      left: -1rem;
      font-size: 20rem;
      color: var(--color--grey-light-2);
      font-family: sans-serif;
      line-height: 1;
      z-index: 1;
      overflow: hidden;
    }
  }

  &__text {
    position: relative;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }


  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__user-box {
    margin-left: 2rem;
    margin-right: auto;
  }

  &__username {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color--grey-dark-3)
  }

  &__rating {
    color: var(--color--primary);
    font-size: 2.4rem;
    font-weight: 300;
  }

}